# IDE - VSCode
.vscode/*
.history/*

local-only/*

# System Files
.DS_Store
Thumbs.db

# Logs
/logs/*
*.log

/vendor/*
/tmp

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
